<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ This file is part of Tack Android.
  ~
  ~ Tack Android is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Tack Android is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Tack Android. If not, see http://www.gnu.org/licenses/.
  ~
  ~ Copyright (c) 2020-2025 by Patrick Zedler
  -->

<manifest
  xmlns:tools="http://schemas.android.com/tools"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-feature android:name="android.hardware.type.watch" />

  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

  <application
    android:icon="@mipmap/ic_launcher"
    android:label="@string/wear_app_name"
    android:supportsRtl="true"
    android:localeConfig="@xml/locale_config"
    android:allowBackup="true"
    android:fullBackupContent="@xml/backup_rules_full"
    android:dataExtractionRules="@xml/backup_rules_extract"
    tools:targetApi="33">

    <meta-data
      android:name="com.google.android.wearable.standalone"
      android:value="true" />

    <uses-library
      android:name="com.google.android.wearable"
      android:required="true" />

    <activity
      android:exported="true"
      android:name=".activity.MainActivity"
      android:taskAffinity=""
      android:theme="@style/Theme.Tack.Splash">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <service
      android:name=".service.MetronomeService"
      android:description="@string/wear_msg_service_description"
      android:foregroundServiceType="mediaPlayback"
      android:exported="false" />

  </application>

</manifest>