name: Build App Module

on:
  workflow_dispatch:

  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Setup Android SDK & NDK
        uses: android-actions/setup-android@v3
        with:
          cmdline-tools-version: 14742923

      - name: Install CMake & NDK
        run: |
          yes | sdkmanager --licenses
          sdkmanager "cmake;4.0.2" "ndk;29.0.14206865"

      - name: Decode Keystore
        run: |
          echo "${{ secrets.KEYSTORE }}" | base64 --decode > release_keystore.jks

      - name: Build with Gradle
        run: ./gradlew :app:assembleRelease
        env:
          KEYSTORE_PATH: ../release_keystore.jks
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: app/build/outputs/apk/release/*.apk